body {
  /* font-family: sans-serif; */
  font-family: 'Oswald', sans-serif;
  margin: 0;
  color: black;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}


* {
  box-sizing: border-box;
}

button {
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'PT Sans', sans-serif;
  box-shadow: 1px 1px 20px 1px black;
  transition: 1s ease;
  -webkit-transition: 1s ease;
}

button:focus {
  outline: none;
}

.bold {
  font-weight: bold;
}
/*************************************NAVBAR**************************/

#navbar {
  width: 100vw;
  height: 40px;
  display: flex;
  background-color: #c5c5c5;
  align-items: flex-start;
  box-shadow: 0px 1px 5px;
}

#navbar-left {
  display: flex;
  flex-basis: 83%;
  align-items: flex-end;
}

#navbar-left div {
  margin: 10px;
}

#navbar-right {
  display: flex;
  margin: 10px;
}

#navbar NavLink {
  text-decoration: none;
}
.navbar-text {
  text-decoration: none;
  cursor: pointer;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 1px black;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar-text:hover {
  text-decoration: none;
  color: #c4daff;
}

#navbar-right-dropdown-container {
  margin-right: 10px;
  width: 100%;
}

#navbar-right-dropdown {
  box-shadow: 1px 2px 3px;
  background-color: #c5c5c5;
  margin-top: 12px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  z-index: 2;
}

#navbar-right-dropdown p {
  width: 100%;
  padding: 10px;
  margin: 0;
  -webkit-transition: background-color 2s ease;
  transition: background-color 2s ease;
}

#navbar-right-dropdown p:hover {
  background-color: gray;
}

.dropdown-carrot {
  font-size: 10px;
}

/*********************************HOME*******************************/
#home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

#home-page-welcome-container {
  text-align: center;
}

#home-page-welcome {
  color: #c5c5c5;
  text-shadow: 1px 2px 2px black;
  font-size: 30px;
  margin-bottom: 0;
}

#home-page-users-and-challenge-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#online-users {
  text-align: center;
}

@keyframes button-pulse {
  0% {background-color: orange; margin-left: 0px}
  50% {background-color: maroon; margin-left: 10px}
  1000% {background-color: orange; margin-left: 0px}
}

.vs-button {
  background-color: orange;
  color: wheat;
  animation-name: button-pulse;
  -webkit-animation-name: button-pulse;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.vs-button:hover {
  background-color: wheat;
  color: orange;
}

/***********************************NEW CHALLENGE*********************/
#new-challenge {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 20px 1px black;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(60,60,60,1);
  color: #cfcfcf;
}

#new-challenge-buttons {
  display: flex;
}

#accept-challenge-button {
  background-color: green;
  color: white;
  margin-right: 5px;
}

#accept-challenge-button:hover {
  background-color: #33e933;
  color: green;
}

#reject-challenge-button {
  background-color: red;
  color: white;
}

#reject-challenge-button:hover {
  background-color: maroon;
  color: beige;
}

/*************************************NEW PACK************************/

#new-pack {
  width: 214px;
  height: 301px;
  position: absolute;
  left: 50%;
  top: 29%;
  margin-left: -107px;
  box-shadow: 1px 1px 21px 3px black;
  z-index: 5;
}

.new-pack-image {
  position: absolute;
}

.active-new-pack-image {
  display: block;
}

.hidden-new-pack-image {
  display: none;
}

#new-pack-previous-button {
  position: absolute;
  top: 50%;
}

#new-pack-next-button {
  position: absolute;
  top: 50%;
  left: calc(100% - 45px);
}

/*********************************CHOOSE LINEUP**************************/
#choose-lineup {
  display: flex;
  margin: 20px 25px;
  justify-content: center;
}

#choose-lineup-lineup {
  position: absolute;
  left: 27px;
  width: 345px;
}

#clipboard {
  background-image: url('./Clipboard-empty.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 586px;
  width: 400px;
  position: relative;
  margin-right: 20px;
  overflow: scroll;
}

#lineup-container {
  height: 476px;
  width: 400px;
  position: absolute;
  top: 77px;
  overflow: scroll;
}

.lineup-name {
  font-family: 'Gochi Hand', cursive;
  font-size: 20px;
}

.lineup-table-column {
  padding: 3px;
  cursor: pointer;
}

#choose-lineup-lineup th, td {
  border: 1px solid black;
}

#lineup-button-and-card {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.lineup-advance-button {
  width: 220px;
  margin-bottom: 20px;
  background-color: #3db33d;
  color: #e0e0e0;
  cursor: pointer;
}

.lineup-advance-button:hover {
  background-color: #e0e0e0;
  color: #3db33d;
}

#back-to-lineup-button {
  background-color: #a21818;
  color: #e0e0e0;
  margin-left: 10px;
}

#back-to-lineup-button:hover {
  background-color: #e0e0e0;
  color: #a21818;
}

.lineup-full-card-button {
  background-color: #c4daff;
  color: #b73030;
  box-shadow: 1px 1px 10px 1px black;
}

.lineup-full-card-button:hover {
  background-color: #292975;
  color: #988e8e;
}


/*********************************SINGLE PLAYER**************************/
.single-batter-column-container, .single-pitcher-column-container {
  display: flex;
  flex-direction: column;
}

.single-batter-info, .single-pitcher-info {
  display: flex;
  justify-content: center;
}

.lineup-single-player {
  display: flex;
  background-color: #7b8da4;
  box-shadow: 1px 1px 10px 3px grey;
  padding: 10px;
  border-radius: 20px;
  color: white;
  margin: 10px;
  width: 468px;
}

.single-batter-column, .single-pitcher-column {
  margin: 5px;
}

.single-batter-column img, .single-pitcher-column img {
  box-shadow: 1px 1px 10px 3px #4b4646;
  margin-left: 10px;
}

#all-batters, #all-pitchers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.batter, .pitcher {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  width: 238px;
  height: 521px;
  color: #c34646;
  background-color: #8ca9a9;
  color: #ff5f54;
}

.page-header {
  text-align: center;
}

.player-img {
  width: 214px;
  height: 301px;
}

#display-players-page {
  margin: 10px;
}

.display-players {
  text-shadow: 2px 2px 2px black;
  color: #cec3c3;
  padding: 1px 0px 0px 0px;
}


#board {
  background-image: url('./grass.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #efe5e5;
  text-shadow: 1px 1px 1px black;
  padding: 1px 20px;
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 1;
  display: flex;
}

#board:focus {
  outline: none;
}

.board-winner-alert {
  z-index: 2;
  position: absolute;
  top: 20%;
  left: 41%;
  background-color: rgba(60,60,60,0.8);
  height: 20%;
  width: 300px;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 5px 20px 5px black;
}

#board-waiting {
  position: absolute;
  z-index: 2;
  width: 230px;
  top: 45%;
  left: 45%;
  background-color: rgba(60,60,60,0.6);
  padding: 5px;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 5px black;
  text-align: center;
  margin-left: -105px;
}

#first {
  height: 100px;
  width: 100px;
  transform: rotate(45deg);
  position: absolute;
  left: 634px;
  top: 290px;
}

#first-base {
  position: absolute;
  top: 0px;
  left: 50px;
}

#first-image {
  transform: rotate(-45deg);
  position: absolute;
  top: -24px;
  left: 19px;
  height: 80px;
  width: 58px;
}

#second {
  height: 100px;
  width: 100px;
  transform: rotate(45deg);
  position: absolute;
  left: 441px;
  top: 97px;
}

#second-base {
  position: absolute;
}

#second-image {
  transform: rotate(-45deg);
  position: absolute;
  top: 0px;
  left: 12px;
  height: 80px;
  width: 58px;
}

#third {
  height: 100px;
  width: 100px;
  transform: rotate(45deg);
  position: absolute;
  left: 252px;
  top: 286px;
}

#third-base {
  position: absolute;
  top: 50px;
}

#third-image {
  transform: rotate(-45deg);
  position: absolute;
  top: 8px;
  left: -11px;
  height: 80px;
  width: 58px;
}

#home {
  position: absolute;
  left: 396px;
  top: 500px;
}

#home-image {
  width: 125px;
  height: 136px;
  position: absolute;
  top: -43px;
  left: 32px;
  transition: .5s ease;
}

#see-batter-card {
  position: absolute;
  left: 44px;
  top: 58px;
  z-index: 1;
  opacity: 0;
  transition: .5s ease;
  width: 100px;
}

#home-hover-container:hover #see-batter-card {
  opacity: 0.75;
}

#see-pitcher-card {
  position: absolute;
  left: 46px;
  top: 64px;
  z-index: 1;
  opacity: 0;
  transition: .5s ease;
  width: 100px;
}

#mound-hover-container:hover #see-pitcher-card {
  opacity: 0.75;
}

.player-game-attributes {
  font-family: verdana;
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-shadow: none;
  background-color: #efe5e5;
  padding: 5px;
  width: 125px;
  height: 136px;
  display: flex;
  flex-direction: column;
  line-height: 6px;
  box-shadow: 1px 1px 20px 1px black;
}

#player-game-attributes-column-container {
  display: flex;
  justify-content: space-around;
}

#player-game-attributes-hr {
  align-self: center;
  margin-top: 2px;
}

.player-game-attributes-number {
  font-size: 9px;
  font-weight: normal;
}

#batter-game-attributes {
  position: absolute;
  top: -43px;
  left: 31px;
}

#pitcher-game-attributes {
  position: absolute;
  top: -33px;
  left: 32px;
}

#mound {
  position: absolute;
  left: 396px;
  top: 308px;
}

#mound-image {
  width: 125px;
  height: 136px;
  position: absolute;
  top: -33px;
  left: 32px;
  opacity: 1;
  transition: 0.5s ease;
}

.basepath {
  background-image: url('./dirt.jpg');
}

#first-basepath {
  height: 200px;
  width: 30px;
  transform: rotate(45deg);
  position: absolute;
  left: 590px;
  top: 368px;
  overflow: hidden;
  z-index: -1;
}

#third-basepath {
  height: 200px;
  width: 30px;
  transform: rotate(-45deg);
  position: absolute;
  left: 367px;
  top: 366px;
  overflow: hidden;
  z-index: -1;
}

#right-basepath {
  height: 200px;
  width: 100px;
  transform: rotate(-45deg);
  position: absolute;
  left: 536px;
  top: 142px;
  overflow: hidden;
  z-index: -1; */
}

#right-deep-INF {
  height: 435px;
  width: 70px;
  transform: rotate(-45deg);
  position: absolute;
  left: 591px;
  top: -55px;
  overflow: hidden;
  z-index: -1;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
}

#left-basepath {
  height: 200px;
  width: 100px;
  transform: rotate(45deg);
  position: absolute;
  left: 336px;
  top: 152px;
  overflow: hidden;
  z-index: -1;
}

#left-deep-INF {
  height: 376px;
  width: 70px;
  transform: rotate(45deg);
  position: absolute;
  left: 311px;
  top: -3px;
  overflow: hidden;
  z-index: -1;
  border-bottom-left-radius: 90px;
}

#board-buttons {
  position: absolute;
  top: 388px;
  left: 80%;
  background-color: rgba(60,60,60,0.6);
  padding: 5px;
  font-family: scoreboard-font;
  color: #41db8a;
  box-shadow: 1px 1px 20px 5px black;
  border-radius: 10px;
  text-align: center;
}

.play-button {
  background-color: #797979;
  color: white;
}

.play-button:hover {
  background-color: white;
  color: #797979;
}

#show-rules-button {
  background-color: #c57e53;
  color: #c5c5c5;
  margin-left: 5px;
}

#show-rules-button:hover {
  background-color: #c5c5c5;
  color: #c57e53;
}

/*************************DIAMOND**********************/
#diamond {
  position: absolute;
  width: 600px;
  top: 4%;
  left: 36%;
  margin-left: -300px;
  font-family: scoreboard-font;
}

.diamond-card {
  box-shadow: 1px 1px 20px 1px black;
}

.base {
  background-color: white;
  height: 50px;
  width: 50px;
}

.lineup-prefix {
  color: #e60909;
  text-shadow: 1px 1px 1px #dcd7d7;
}

.sub {
  list-style: none;
  position: absolute;
  background-color: rgba(60,60,60,0.6);
  color: white;
  width: 340px;
  left: 54%;
  top: 396px;
  z-index: 2;
  text-shadow: none;
  box-shadow: 1px 1px 20px 5px black;
  padding: 5px;
  border-radius: 5px;
}

#sub-title {
  color: #272525;
  text-shadow: 1px 1px 1px white;
}

.sub-name {
  color: #41da88;
  text-shadow: 1px 1px 1px black;
}

#hide-bench {
  background-color: #b00505;
  color: white;
  border: none;
  cursor: pointer;
  box-shadow: 1px 1px 20px 1px black;
  float: right;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
}

#hide-bench:hover {
  background-color: #b25c5c;
  color: #b0aeae;
}

.result {
  position: absolute;
  top: 186px;
  left: 62.3%;
  font-size: 30px;
  width: 240px;
  text-align: center;
  z-index: 2;
}

#rules {
  position: absolute;
  width: 240px;
  left: 62.3%;
  background-color: rgba(60,60,60,0.8);
  border-radius: 5px;
  box-shadow: 1px 1px 20px 1px black;
  height: 400px;
  overflow: scroll;
  z-index: 3;
  padding: 5px;
  color: #3dd471;
  text-align: center;
}

#rules-got-it {
  background-color: green;
  color: white;
  border: none;
  box-shadow: 1px 1px 20px 1px black;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
}

#rules-got-it:hover {
  background-color: lightgreen;
  color: black;
}

.sub-button {
  background-color: #176f02;
  color: #efdddd;
  float: right;
}

.sub-button:hover {
  background-color: #6ba55e;
}

#see-pen {
  position: absolute;
  left: -42px;
  top: 60px;
  background-color: #c57e53;
  color: #c5c5c5;
  text-shadow: 1px 1px 1px black;
  border: none;
  box-shadow: 1px 1px 20px 3px black;
  cursor: pointer;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
}

#see-pen:hover, #see-bench:hover {
  background-color: #c5c5c5;
  color: #c57e53;
}

#see-bench {
  position: absolute;
  top: 50px;
  left: -33px;
  background-color: #c57e53;
  color: #c5c5c5;
  text-shadow: 1px 1px 1px black;
  border: none;
  box-shadow: 1px 1px 20px 3px black;
  cursor: pointer;
  transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
}

#enter {
  width: 500px;
  position: absolute;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  text-align: center;
  margin-top: -10px;
}

#enter button {
  margin: 0px 10px;
}

.attributes-list {
  list-style: none;
  text-shadow: 1px 1px 1px black;
}

.team-page-name {
  margin-left: 10px;
}

.set-lineup-team {
  margin-left: 10px;
}

.set-lineup-players {
  display: flex;
  flex-wrap: wrap;
}

.set-lineup-batters {
  margin-right: 10px;
  margin-left: 10px;
}

.set-lineup-pitchers {
  margin-right: 10px;
}

/**************************************SCOREBOARD*****************************/

@font-face {
  font-family: 'scoreboard-font';
  src: url('./Danger on the Motorway.otf');
}

#scoreboard {
  position: absolute;
  left: 10px;
  top: 10px;
  font-family: scoreboard-font;
}

#names-row, #away-row, #home-row, .scoreboard-stuff {
  display: flex;
}

.score-value {
  height: 30px;
  width: 23px;
  border: 1px solid #fbfbfb;
  background-color: #616161;
  text-align: center;
  padding-top: 7px;
  font-size: 12px;
  color: #4afa94;
}

.score-name-value {
  height: 30px;
  width: 115px;
  border: 1px solid white;
  background-color: #616161;
  padding: 5px;
  font-size: 12px;
  color: #4bfd94;
}

.half-caret {
  font-size: 10px;
  margin-right: 2px;
}

.scoreboard-out {
  font-size: 25px;
}

#ingame-lineup {
  position: absolute;
  top: 25%;
  background-color: rgba(60,60,60,0.6);
  padding: 5px;
  font-family: scoreboard-font;
  color: #47ea94;
  box-shadow: 1px 1px 20px 5px black;
  border-radius: 10px;
}

/**************************USER PAGE**************************/

#user-page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-page-team-name {
  font-size: 36px;
  color: #cec3c3;
  text-shadow: 3px 3px 3px black;
}

.user-page-header-item {
  margin-bottom: 0;
}

#buy-pack-button {
  background-color: #4b4646;
  color: #c4bebe;
}

#buy-pack-button:hover {
  background-color: #c4bebe;
  color: #4b4646;
}


/******************VIDEO!!!!!!************************/
#remoteVideos {
  position: absolute;
  right: 0%;
}

#remoteVideos video {
  height: 200px;
}

#localVideo {
  height: 85px;
  position: absolute;
  right: 0%;
  z-index: 1;
  box-shadow: 1px 1px 20px 1px black;
}

#connect-video-button {
  top: 90px;
  position: absolute;
  right: 7%;
  z-index: 1;
  box-shadow: 1px 1px 20px 1px black;
}

#resume-stream-button {
  position: absolute;
  right: 11.5%;
  top: 169px;
}

#pause-stream-button {
  position: absolute;
  right: 6%;
  top: 169px;
}

#disconnect-video-button {
  top: 200px;
  position: absolute;
  right: 6%;
  z-index: 1;
  box-shadow: 1px 1px 20px 1px black;
}

/*******************AUTH FORM********************/
#credentials-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 1px 1px 20px 1px black;
  padding-top: 1em;
  background-color: #c5c5c5;
}

#credentials-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

#credentials-buttons-row {
  margin-bottom: 5px;
}

#credentials-buttons-row button {
  margin: 0px 2px;
}

#credentials-submit-button {
  background-color: #57ab48;
  color: white;
}

#credentials-submit-button:hover {
  background-color: green;
  color: wheat;
}

#create-account-button {
  background-color: #fcbc08;
  color: white;
}

#create-account-button:hover {
  background-color: orange;
  color: wheat;
}

#google-signin-button {
  box-shadow: 1px 1px 20px 1px black;
  border-radius: 5px;
}

.form-field {
  margin: 0.3em;
  display: inline-block;
}

.form-field input {
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  box-shadow: 0px 0px 10px 0px black;
}